.intro { 
  text-align: center; 
  font-family: Arial;
}

h2 { 
  font-size: 36px;
}

p { 
  font-size: 14pt;
}

#image-gallery { 
  width: 600px; 
  height: 450px;
  margin: 0 auto;
}


#image-thumbs { 
  display: flex; 
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
  padding-bottom:10px;
}

#image-nav {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.navButton {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  color: blue;

}

.thumb { 
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  margin-right: 10px; 
  cursor: pointer;
}
.thumb-regular {
  border: 2px transparent solid;
}

.thumb-selected {
  border: 2px blue solid;
}

#current-image {
  display: block;
  max-width:600px;
  max-height:450px;
  width: auto;
  height: auto;
  margin: auto;
  cursor: pointer;
}